{% extends "layout.html" %}
{% block title %}Actor Genre's{% endblock %}
{% block content %}
{% set final_id = id | int %} 
<p> Actor Name: {{ actor.actor_name }} </p>
<div id="genre">
	<p> Genre's </p>
	<ul>
  	{% for i in genres %}
    	<li><a href="{{ url_for('actorgenremovie',genre_id=i[0], actor_id=final_id) }}">{{ actor.actor_name }} in {{ i[1] }}</a></li>
  	{% endfor %}
</ul>
</div>
</div>
<div id="back_to-actor">
<form action="/actor/{{final_id}}" method="post">
    <button type="submit">Back to {{actor.actor_name}}'s page</button>
</form>
</div>
{% endblock %}
